header {
    background-color: #040425;
    display: flex;
    align-items: center;
    padding: 0 20px;
   
}
header img {
    max-height: 100px;
    width: auto; 
}

.navLinks > ul{
    display: flex;
    gap: 30px;
}
.navLinks ul > li > a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.navLinks > ul >li {
    transition: 0.3s;
}
.navLinks > ul >li:hover{
    transform: scale(1.05);
} 
.navLinks > ul >li > a:hover {
    opacity: 0.7;
}
.navbar.navLinks .nav-item {
    transition: transform 0.3s ease, color 0.3s ease; 
}

.navbar.navLinks .nav-item:hover {
    transform: scale(1.05); 
}

.navbar.navLinks .nav-link {
    color: white !important; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.navbar.navLinks .nav-link:hover {
    color: rgba(255, 255, 255, 0.7) !important; 
}

main {
    background-image: url('../assets/2.webp'); 
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center; 
    min-height: 100vh;
    min-height: calc(100vh - 70px);
}
.movies-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.movies-section > h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.movie-cards-container {
    background-color: white;
    display: flex;
    gap: 30px;
}
.movie-card {
    width: 250%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.movie-card > img {
    width: 80%;
    border-radius: 10px;
}
.movie-card > h3 {
    font-size: 18px;
    color: white;
    margin: 10px 0;
}
.movie-card > button {
    font-size: 16px;
    color: white;
    background: #45459c;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s;
    border: 0;
    cursor: pointer;
}
.movie-card > button:hover {
    opacity: 0.7;
    transform: scale(1.05);
}
.sitios-web-recomendados {
    font-size: 16px;
    color: white;
}

/* Estilo para Historia del Cine */
/* Contenedor principal que envuelve todo */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas para las secciones de la primera fila */
    gap: 20px; /* Espacio entre los elementos */
    padding: 10px; /* Espacio alrededor */
    justify-items: center; /* Centra los elementos de la segunda fila */
}


/* Estilo general para las secciones de Historia del Cine */
/* Efecto hover para el contenedor completo */
.cine-section {
    padding: 10px; /* Ajusta el valor según tus preferencias */
    border-radius: 20px;
    background-color: #0b0b29;
    margin: 15px 0; /* Espacio entre los cuadros (margen superior e inferior) */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Suaviza el efecto */
}

/* Aumento al pasar el cursor */
.cine-section:hover {
    transform: scale(1.1); /* Aumenta el tamaño del contenedor */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Añade un efecto de sombra */
    background-color: #1d3557; /* Cambia el color de fondo al pasar el cursor */
    cursor: pointer; /* Muestra la manito al pasar el cursor */
}



/* Segunda fila: las 3 secciones deben estar centradas */
.cine-section:nth-child(5),
.cine-section:nth-child(6),
.cine-section:nth-child(7) {
    grid-column: span 1; /* Cada una ocupa una sola columna */
    justify-self: center; /* Centra las 3 secciones en el contenedor */
}


/* Ajustes para pantallas más pequeñas */
@media (max-width: 800px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas más pequeñas */
        grid-template-rows: repeat(4, 1fr); /* 4 filas */
    }
}


@media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr; /* 1 columna en pantallas más pequeñas */
        grid-template-rows: repeat(7, 1fr); /* 7 filas */
    }
}


/* Títulos más grandes */
.cine-section .cine-title {
    text-align: center;
    font-size: 1.8rem;
    color: white;
    margin-bottom: 20px;
}


/* Párrafos dentro de las secciones */
.cine-section .cine-text {
    font-size: 1.1rem;
    margin: 10px 0;
    color: white;
}


/* Sitios Web Recomendados */
.sitios-web-recomendados {
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 40px;
    border-radius: 50px;
}


.sitios-web-recomendados ul {
    margin-left: 20px;
    padding: 0;
    list-style: disc;
    cursor: pointer;
}


.sitios-web-recomendados a:active {
    color: hsl(240, 51%, 50%); 
  }


a {
    color: white;
}

.navbar-toggler-icon {
    background-color: white; 
  }
  .navbar-toggler {
    background-color: #f8f9fa; 
  }

  